# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# codegen
*.gql.generated.ts
gql.generated.ts
/src/infra/graphql/types.ts
_server/graphqlServer/schema.graphql
/snapshotReport
/test-results

/public/mockServiceWorker.js

.pnpm-store

/playwright-report

/src/$path.ts
