on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      
      - name: actions-ecosystem/action-get-merged-pull-request
        uses: actions-ecosystem/action-get-merged-pull-request@v1
        id: get-merged-pull-request
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: release-drafter/release-drafter
        # label が x.x.o する
        # label が x.x.x しない
        # label が x.x.x, x.x.o する
        # label が 空 しない

        if: steps.get-merged-pull-request.outputs.labels != 'x.x.x' && steps.get-merged-pull-request.outputs.labels != ''
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
